:root {
    --main-font: 'Roboto', sans-serif;
    --line-height: 1.5;
    --letter-spacing: 0.02em;
    --text-decoration: none;   
    --primary-brand:#4D5AE5;
    --primary-focus:#4c53a3;
    --dark:#2E2F42;
    --succes:#31D0AA;
    --text:#434455;
    --subtle-text:#8E8F99;
    --accent:#E7E9FC;
    --light:#F4F4FD;
    --white: #FFFFFF;
}
/*
p,
ul,
h1,
h2,
h3
h4,
h5,
h6 {
margin: 0;
}
*/
* {
margin:0;
padding:0;
list-style: none;
box-sizing: border-box;
}
ul{
    margin: 0;
    padding-left: 0 ;
}

li {
    list-style-type: none;
}
a {
    color:var(--dark);
    text-decoration: none;
}
a:hover {
    color:var(--text);
}
a:focus {
    color:var(--primary-brand);
}
img {
    display: block;
    min-width: ;
    height: auto;
}

/*-----BODY-----*/

.body {
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 1.5;
    color:var(--text);
    background: var(--white); 
    cursor: pointer;
    
    padding: 120px;
}
.container {
    /*width:1158px;*/
    padding-left: 156px;
    padding-right: 156px;
    margin: 0;
    
    
    
}

.header {
    padding:24px 0;
    border-bottom: 1px solid var(--accent);
    height:72px;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    
    
}
.header > .container{
    display: flex;
    align-items: center;
}
.header-logo{
    margin-right: 77px;
}
.header-logo:hover{
    text-decoration: underline;
}
.web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    text-decoration: none;
    
}
.studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
    text-decoration: none;

}
.header-list{
}
.header-item {
    font-family: var(--main-font);
    font-weight:700;
    
    line-height: 1.5;
    color: var(--dark);
    letter-spacing: 0.02em;
    display: inline-block;
    margin-right: 40px;
}
.header-item:hover {
    color: var(--text);
    text-decoration: underline;
}
.header-item:focus {
    color: var(--primary-brand);
}
.header-contact{
    display: flex;
    /*gap: 40px;*/
    padding-left: 331px;
    
}
.header-contact a {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text);
    text-decoration: none;
    
    
}
.header-contact a:hover {
    color:var(--primary-brand);
    text-decoration: underline;
}
.header-contact a:focus {
    color:var(--primary-brand);
}
.header-mail{
    margin-right: 40px;
}
.header-link {
    color:var(--dark);
}
.header-link:hover {
    color:var(--text);
}
.header-link:focus {
    color:var(--primary-brand);
}

/*-----FOOTER-----*/

.footer {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent);
    background: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.footer-logo {
    font-family:var(--main-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
    
}
.footer-logo:hover{
    text-decoration: underline;
}
.footer-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.footer-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--white);
}
.footer-text{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent);
    background: var(--dark);
    
    width: 264px;
    height: 72px;
}

/*-----Filters----*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*------PORTFOLIO-BUTTON------*/

.button-list{
    font-family: var(--main-font);
    font-size: 16px ;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 168px;
    margin-bottom: 72px;
    margin-left: 271px;
    margin-right: 271px;
    /*
    align-items: center;
text-align: center;
letter-spacing: 0.04em;
*/
}
.button-primary{
    font-family: var(--main-font);
    font-size: 16px ;
    font-weight: 700;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--primary-brand);
    cursor: pointer;
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;
}
.button-primary:hover {
    color:var(--white);
    background-color:var(--primary-brand);
}
.button-primary:focus {
    color:var(--white);
    background-color:var(--primary-brand);
}
.button-secondary{
    font-family:var(--main-font);
    font-size:16px ;
    font-weight:700;
    line-height:1.5;
    color:var(--primary-brand);
    background-color:var(--light);
    cursor:pointer;
    border:1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;
}
.button-secondary:hover {
    color:var(--light);
    background-color:var(--primary-brand);
}
.button-secondary:focus {
    color:var(--light);
    background-color:var(--primary-brand);
}

/*-----SECTIONS-SOLUTIONS-----*/

.section-solutions{
    font-family: var(--main-font);
    font-weight: 400;
    font-size:56px;
    line-height: 1.07;
    letter-spacing: 0.04em; 
    color: var(--white); 
    background: var(--dark); 
    text-align:center;
    width: auto;
    height: 603px;
    margin: 0;
    
}
.solutions-text {
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    background: var(--dark); 
    text-align:center;
    padding: 192px 0 0 0 ;
    margin-bottom: 48px;
    min-width: 496px;
    margin-left: auto;
    margin-right: auto;
    


}
.effective-button{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color:var(--white);
    background:var(--primary-brand);
    cursor: pointer;
    /*border: 1px solid var(--primary-brand);*/
    border:none;
    display: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    min-width: 169px;

    
    text-align:center;
    
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    
}
.effective-button:hover {
    background: var(--primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.effective-button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.solutions-subtitle {
    display:flex;
    justify-content: space-evenly;
}
.solutions-list {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
}
.solutions-item {
    background-color: var(--white);
    margin:0 12px 8px 12px;
    width: 264px;
}
.item-hard{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
    width: 264px;

}
.hard-text { 
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text);
    gap:24px;
    /*
    flex: none;
    order: 1;
    flex-grow: 0;
    */

}

/*----WHAT ARE WE DOING----*/
.section-doing{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    
}
.header-style {
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark);
    display:flex;
    justify-content: space-evenly;
    
}
.doing-list{
    display: flex;
    justify-content: space-between;
    margin: 72px 0px 120px 0px;
    


}
.section-card {
    color:var(--dark);
    background: var(--light);
}

/*----TEAM----*/

.section-card {
    /*display:flex;*/
    
}
.header-team {
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height:1.1;
    color:var(--dark);
    letter-spacing: 0.02em; 
    padding-top: 120px;
    padding-bottom: 72px;
    
    display: flex;
    justify-content: space-evenly;
/*
    position: absolute;
width: 162px;
height: 40px;
left: 639px;
top: 1671px;
*/
}
.card-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
.card-item {
    background: var(--white);
    
}
.card-people{
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.card-name {
    font-family:var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    line-height: 1.2; 
    color:var(--dark);
    padding-bottom: 8px;
}
.card-text {
    font-family:var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height:1.5;
    color:var(--text);
}

/*-----PORTFOLIO-----*/

.portfolio {
    
}
.portfolio-list {
    background-color:var(--white);
    
}
.portfolio-item {
    background-color:var(--white);
    padding-bottom: 48px;
}

.card-portfolio {
    
}

.portfolio-name{
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--dark);
}
/* p{
    font-family:var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text);
} */
.portfolio-text {
    font-family:var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text);
}